<div class="pagination-container">
    <button class="btn btn-default jPaginateBack pull-left"><</button>
    <ul class="pagination"></ul>
    <button class="btn btn-default jPaginateNext">></button>
</div>