<div class="twitch-figure twitch-figure-left" data-aos="fade-right" data-aos-duration="1000">
    <img draggable="false" src="{{ asset('build/images/assets/char1.png') }}" alt="Modrá VR figurka">
</div>
<div class="twitch-figure twitch-figure-right riiight" data-aos="fade-left" data-aos-duration="1000">
    <img draggable="false" src="{{ asset('build/images/assets/char2.png') }}" alt="Červená VR figurka">
</div>