
@import "colors";

@media screen and (max-width: 1400px) {
  .twitch-figure-left-hp, .twitch-figure-right-hp, .twitch-figure-left, .twitch-figure-right {
    display: none;
  }
  .team-container {
    .team-section {
      img {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .full-wide-logo {
    height: 144px;
    margin: 32px 0 0 44px;
  }
}

@media screen and (max-width: 1024px) {
  .basic-news-text {
    display: none;
  }
  .width40 {
    width: 50%;
  }
  .profile-wrapper {
    .profile-cont {
      .profile-card {
        .profile-card-right {
          .badge-container {
            width: 100%;
            padding: 10px 0;
            .badge-section {
              display: block;
            }
          }
        }
      }
    }
  }
  .basic-news-container {
    .basic-news-section {
      height: 300px;
      a {
        display: block;
        .basic-news-left-cont {
          width: calc(50% - 10px);
          height: 300px;
        }
      }
      .basic-news-right-cont {
        width: 50%;
        height: 300px;
      }
    }
  }
  .news-container {
    .news-section {
      .news-left-cont {
        width: 100%;
      }
    }
  }
  .wrapper-box {
    .section {
      padding: 32px 24px;
    }
  }
  .team-container {
    .team-section {
      img {
        height: 150px;
      }
    }
  }
  .gallery-image-container {
    a:nth-last-child(1) {
      display: none !important;
    }
    a:nth-child(1) {
      .gallery-image-section {
        transform: scale(1) !important;
      }
    }
  }
  .twitch-container .twitch-section {
    min-height: 400px;
    max-height: 400px;
  }
  .cols-4 .gallery-items {
    width: calc(50% - 20px);
    margin: 10px;
  }
  .cols-3 .gallery-items {
    width: calc(50% - 20px);
    margin: 10px;
    height: 260px !important;
    &:nth-last-child(1) {
      display: none;
    }
  }
  .full-wide-logo {
    height: 100px;
    margin: 20px 0 0 32px;
  }
  .hp-title {
    font-size: 64px;
  }
  .gamebox-container {
    .gamebox-section {
      height: 400px;
    }
  }
  #instafeed-container {
    padding: 0;
    a {
      width: calc(50% - 20px);
      height: 300px;
    }
  }
  .gallery-container .gallery-section .gallery-image-container {
    padding: 0;
    .gallery-image-section {
      width: calc(50% - 20px);
    }
  }
  .cols-4 {
    margin-top: 0;
  }
}

@media screen and (max-width: 764px) {
  .gallery-title {
    span {
      display: none;
    }
  }
  .scoreboard-wrapper {
    background: $brand_dark;
    .particles-canvas {
      position: fixed;
    }
    .hp-image {
      display: none;
    }
    .scoreboard-table {
      top: 0;
      transform: translate(-50%, 0);
    }
  }
}

@media screen and (max-width: 750px) {
  .top-foto-logo {
    width: 500px;
  }
  .team-container {
    .team-section {
      img {
        height: 110px;
      }
    }
  }

  .news-detail-container .gallery-items {
    height: 380px;
  }

  .profile-settings-button, .profile-table-title {
    display: none;
  }
  .profile-wrapper {
    .profile-cont {
      .profile-card {
        .profile-card-left {
          width: 100%;
          .profile-foto-cont {
            margin: 0 auto;
          }
        }
        .profile-card-right {
          width: 100%;
          padding: 32px 32px 0 32px;
          margin: 0 auto;
        }
      }
    }
  }

  .basic-news-container {
    padding: 0 30px;
    top: -54px;
    .basic-news-section {
      width: 100%;
      margin-bottom: 20px;
      a {
        .basic-news-left-cont {
          width: 100%;
          .news-cont-text {
            display: block;
          }
        }
      }
      .basic-news-right-cont {
        display: none;
      }
    }
  }
  #instafeed-container {
    a {
      width: calc(100% - 20px);
    }
    a:nth-child(3), a:nth-child(4) {
      display: none;
    }
  }
  .gallery-container .gallery-section .gallery-image-container .gallery-image-section {
    width: calc(100% - 20px);
    height: 300px;
  }
  .cols-4 .gallery-items {
    width: calc(100%);
    margin: 10px 0;
  }
  .cols-3 .gallery-items {
    width: calc(100%);
    margin: 10px 0;
    display: none;
  }
  .gallery-container {
    padding: 10px;
  }
  .news-container {
    .news-section {
      .news-left-cont, .news-right-cont {
        width: 100%;
        height: 300px;
      }
    }
  }
  .news-cont-text {
    p {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .news-detail-container .gallery-items {
    height: 280px;
  }
  .basic-news-container {
    .basic-news-section {
      height: 260px;
      a {
        .basic-news-left-cont {
          height: 260px;
        }
      }
      .basic-news-right-cont {
        height: 260px;
      }
    }
  }
  .news-container {
    .news-section {
      .news-left-cont, .news-right-cont {
        height: 280px;
      }
    }
  }
  #instafeed-container {
    a {
      height: 280px;
    }
  }
  .gallery-container .gallery-section .gallery-image-container .gallery-image-section {
    height: 280px;
  }
  .cookie-container {
    bottom: 10px;
    left: 10px;
    max-width: calc(100vw - 20px);
    .cookie-section {
      form {
        padding: 16px 16px 0px 16px;
      }
    }
  }
  .twitch-container .twitch-section {
    min-height: 280px;
    height: 280px;
    #twitch-embed {
      iframe {
        height: 270px;
      }
    }
  }
  .profile-wrapper {
    .profile-cont {
      .profile-desc-container {
        padding: 12px;
      }
      .profile-card {
        text-align: center;
        .profile-card-left {}
        .profile-card-right {
          padding: 0 12px;
          .profile-card-title {
            .profile-buttons {
              width: 100%;
              margin: 10px 0;
              align-items: center;
              vertical-align: middle;
              justify-content: center;
            }
          }
          .profile-card-text {
            width: 100%;
            display: flex;
            margin-top: 10px;
            justify-content: center;
          }
        }
      }
      .profile-desc-container {
        text-align: center;
      }
    }
  }
  .width40, .width50 {
    width: 100%;
  }
  .news-container {
    .news-section {
      padding: 0;
    }
  }
  .gallery-container {
    padding: 0;
  }
  .instagram-container {
    padding: 24px 0 0 0;
  }
  .basic-news-container {
    padding: 0 10px;
  }
  .wrapper-box {
    .section {
      padding: 24px 12px;
    }
  }
  .top-foto-logo {
    width: 360px;
  }
  .c-btn {
    h2 {
      min-width: 160px;
    }
  }
  #paran-logo {
    display: none;
  }
  .team-container {
    .team-section {
      img:nth-last-child(1) {
        display: none;
      }
      img:nth-last-child(2) {
        display: none;
      }
    }
  }
  .full-wide-logo {
    margin: 80px 0;
    left: calc(50% - 4px);
    transform: translate(-50%, 0);
  }
  .twitch-container {
    padding: 54px 20px;
    background: $background_white;
  }
  .pentagon-relief {
    margin-top: -64px;
  }
  .mobile-device {
    display: none !important;
  }
  .hp-title {
    font-size: 48px;
  }
  .default-form .duo {
    width: calc(100% - 32px);
  }
  .gamebox-container {
    .gamebox-section {
      overflow: visible;
      display: block;
      .game-container {
        width: 100%;
        &:hover {
          width: 100% !important;
          &+#game-container-left, &+#game-container-right {
            width: 100% !important;
          }
        }
      }
    }
  }
}