{% block navbar %}

    {% if alert is defined %}
        {% if alert != false %}
            <div class="alert alert-{{ alert.type }} alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">add_alert</i>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span data-notify="message">{{ alert.content }}</span>
            </div>
        {% endif %}
    {% endif %}

    <nav class="navbar glob-navbar navbar-expand-lg navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-wrapper"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
        </div>
    </nav>

{% endblock %}